<div class="w-100  d-flex justify-content-center "  data-aos="zoom-in">
    <div class="flex-column  d-flex bg-transparent   justify-content-center align-item-center">
        <div class="w-100 justify-content-center d-flex">
        <img style="height: auto;max-width: 40%" src="{{ theme.logo.url }}" class="card-img-top  rounded-circle p-0"
             alt="Logo">
            </div>
        <div class=" text-center p-0">

            <p style="font-size:3vw;" class="textFormatLogo m-0 p-0"><span style="color: #38017E">{{ theme.name|upper }}</span></p>
            <p style="font-size:3vw;" class="textFormatLogo m-0 p-0">{{ theme.slogan }}</p>
        </div>
    </div>
</div>